<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-buttons>
                <ion-back-button color="warning" defaultHref="/home"></ion-back-button>
            </ion-buttons>
            <ion-title color="warning">History</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card *ngFor="let hi of myHistory">
        <!-- <ion-header>
            <ion-toolbar>
                <ion-label>
                    <h2>Eventname</h2>
                </ion-label>
            </ion-toolbar>
        </ion-header> -->
        <!-- <ion-card-content> -->
        <ion-item>
            <ion-icon name="time"></ion-icon>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ion-label>
                <p>{{hi.postName}}</p>
                <p>by {{hi.ownerName}}</p>
                <p>place {{hi.place}}</p>
                <!-- <p>{{dateNow | date: "dd/MM/yyyy" }}</p> -->
                <p>{{hi.datetime|date:"dd/MM/yyyy HH:mm"}}</p>
            </ion-label>
            <!-- <div>
                <ion-avatar slot="start">
                    <ion-img src="assets/images/thor.jpg"></ion-img>
                </ion-avatar>
            </div> -->
            <ion-button fill="clear" color="danger">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-item>
        <!-- </ion-card-content> -->
    </ion-card>



</ion-content>