<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-buttons>
                <ion-back-button color="warning" defaultHref="/home"></ion-back-button>
            </ion-buttons>
            <ion-title color="warning">History</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card>
        <ion-item>
            <ion-icon name="fast-food-outline"></ion-icon>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ion-label>
                <h2>THOR</h2>
                <h2>ร้านลุงตัน</h2>
                <p>10/12/2020 12:30</p>
            </ion-label>
            <div>
                <ion-avatar slot="start">
                    <ion-img src="assets/images/thor.jpg"></ion-img>
                </ion-avatar>
            </div>
        </ion-item>
    </ion-card>
    <ion-card>

        <ion-item>
            <ion-icon name="library-outline"></ion-icon>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <ion-label>
                <h2>Ironman</h2>
                <h2>Stark Tower</h2>
                <p>3/1/2021 12:30</p>
            </ion-label>
            <div>
                <ion-avatar slot="start">
                    <ion-img src="assets/images/iron.jpg"></ion-img>
                </ion-avatar>
            </div>
        </ion-item>
    </ion-card>


</ion-content>