<!-- <ion-toolbar>
    <ion-header>
    <ion-title></ion-title>
</ion-header>
</ion-toolbar>

<ion-content>
    <div class="ion-text-center">
        <ion-label color="warning">
            <h1>UBU Friends zone</h1>
        </ion-label>
    </div>

    <form>
        <ion-card>
            <ion-row>
                &nbsp;&nbsp;&nbsp;
                <ion-col>
                    <ion-item>

                        <ion-label color="warning" position="floating">Email</ion-label>
                        <ion-input color="warning" #email type="email" name="email " inputmode="email " color="dark "></ion-input>

                    </ion-item>
                </ion-col>

            </ion-row>

            <ion-row>

                &nbsp;&nbsp;&nbsp;
                <ion-col>
                    <ion-item>
                        <ion-label color="warning " position="floating ">Password</ion-label>
                        <ion-input #password type="password" name="password" color="dark "></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            &nbsp; &nbsp; &nbsp;
        </ion-card>

        <ion-button size="large" expand="block" color="warning" type="submit ">Login Google</ion-button>
        &nbsp; &nbsp;
    </form>
    <ion-button size="large " expand="block " color="warning " href="register ">Register</ion-button>

</ion-content> -->
<ion-header>
    <ion-toolbar color="dark">
        <ion-title color="warning">Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card>
        <app-auth-form #loginForm (formSubmitted)="loginUser($event)" [actionButtonText]="'Login'"></app-auth-form>


        <ion-button expand="block" fill="clear" routerLink="/signup">
            <!-- routerLink="/signup" -->
            Create a new account
        </ion-button>
    </ion-card>

    <!-- <ion-button expand="block" fill="clear" routerLink="/reset-password"> -->
    <!-- I forgot my password :( -->
    <!-- </ion-button> -->
</ion-content>