// ion-item {
//     --background: #3880ff;
//     --color: #fff;
// }
// ion-button {
//     --background: #062f77;
// }
* {
    font-family: 'Lato-Light' !important;
}

ion-button {
    border-radius: 10px !important;
    padding-left: 40px !important;
    padding-right: 30px;
}

ion-input {
    border-radius: 10px !important;
    padding-left: 0.2px !important;
    padding-right: 30px;
    font-size: 1.2em;
    border: 1px solid #ffffff !important;
    --background: rgb(255, 255, 255) !important;
    /* height: 10%; */
    /* width: 41%; */
    max-width: 70vw; // this is applying perfectly
    max-height: 10vh;
}

ion-content {
    --ion-background-color: #fffd8e;
}

ion-toolbar {
    --ion-background-color: #fffd8e;
}