<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-buttons>
                <ion-back-button color="warning" defaultHref="/home"></ion-back-button>
            </ion-buttons>
            <ion-title color="warning">สร้างโพส</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card>
        <form>
            <ion-list>

                <ion-item>
                    <ion-avatar slot="start">
                        <!-- <ion-img src="assets/images/ART.jpg"></ion-img> -->
                        <ion-icon size="large" name="person-circle"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <ion-input type="text" [(ngModel)]="Post.name" name="name" value="{{userName}}"></ion-input>
                    </ion-label>
                    <!-- <ion-input type="date" [(ngModel)]="Post.datePost" name="datePost" value="{{today | date: 'HH:mm dd/MM/yyyy'}}"></ion-input> -->
                    <!-- <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" [(ngModel)]="Post.datePost"></ion-datetime> -->
                </ion-item>

                <ion-label>
                    <p>เครื่องหมาย * บังคับกรอก</p>
                </ion-label>


                <ion-item>
                    <ion-label position="floating">ชื่ออีเว้นท์ *</ion-label>
                    <ion-input [(ngModel)]="Post.eventname" name="eventname" required></ion-input>


                </ion-item>

                <ion-item>
                    <ion-textarea [(ngModel)]="Post.description" name="description" placeholder="พิมพ์อะไรสักหน่อย"></ion-textarea>
                </ion-item>

                <ion-item>
                    <ion-label>หมวดหมู่ *</ion-label>
                    <ion-select placeholder="เลือก" multiple="true" [(ngModel)]="Post.type" name="type" required>
                        <ion-select-option value="อาหาร">อาหาร</ion-select-option>
                        <ion-select-option value="กีฬา">กีฬา</ion-select-option>
                        <ion-select-option value="บันเทิง">บันเทิง</ion-select-option>
                        <ion-select-option value="การศึกษา">การศึกษา</ion-select-option>
                        <ion-select-option value="กิจกรรม">กิจกรรม</ion-select-option>
                        <ion-select-option value="อื่นๆ">อื่นๆ</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>วันที่ *</ion-label>
                    <!-- <ion-input type="date" [(ngModel)]="Post.datetime" name="datetime" value="{{today | date: 'HH:mm dd/MM/yyyy'}}"></ion-input> -->

                    <ion-datetime [(ngModel)]="Post.datetime" name="datetime" displayFormat="DD/MM/YYYY" value="01 " min="dateNow" max="31/12/2025" placeholder="เลือกเวลา" required></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-row>
                        <ion-item>
                            <ion-label>เวลาเริ่ม *</ion-label>
                            <ion-datetime [(ngModel)]="Post.starttime" name="starttime" displayFormat="HH:mm" value="00 : 00" placeholder="เวลาเริ่ม" required></ion-datetime>
                        </ion-item>
                        <ion-item>
                            <ion-label>เวลาสิ้นสุด *</ion-label>
                            <ion-datetime [(ngModel)]="Post.endtime" name="endtime" displayFormat="HH:mm" value="00 : 00" placeholder="เวลาสิ้นสุด" required></ion-datetime>
                        </ion-item>
                    </ion-row>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">สถานที่(ชื่อร้าน ชื่อสถานที่)</ion-label>
                    <ion-input [(ngModel)]="Post.place" name="place"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-row>
                        <ion-col>
                            <ion-label position="fixed">ปักหมุดสถานที่</ion-label>
                        </ion-col>
                        <ion-col>
                            <ion-button expand="block" color="success" class="ion-text-center" href="map">
                                <ion-icon name="location-outline"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-item>

                <ion-item>
                    <ion-label position="fixed" required>จำนวนคน *</ion-label>
                    <ion-input type="number" [(ngModel)]="Post.amount" name="amount" placeholder="ใส่จำนวนคน"></ion-input>
                </ion-item>

            </ion-list>

            <!-- <ion-button fill="solid" size="large" color="success">POST</ion-button> -->
        </form>
        <!-- <ion-button fill="solid" expand="block" color="warning" routerLink="/home" (click)="addpost()">
            POST
        </ion-button> -->
        <ion-button fill="solid" expand="block" color="warning" (click)="addpost()">
            สร้างอีเว้นท์
        </ion-button>
    </ion-card>
</ion-content>