<!-- <ion-header>
    <ion-toolbar>
        <ion-title>Welcome</ion-title>
    </ion-toolbar>
</ion-header> -->

<ion-content class="background">
    <!-- <ion-card class="welcome"> -->
    <div class="welcome">
        <div>
            <ion-col>
                <!-- <ion-item> -->
                <ion-button size="large" fill="outline" color="success" href="login" expand="block">
                    Login
                </ion-button>
                <!-- </ion-item> -->
            </ion-col>
            <ion-col>
                <!-- <ion-item> -->
                <ion-button size="large" fill="outline" color="warning" href="register" expand="block">
                    Register
                </ion-button>
                <!-- </ion-item> -->
            </ion-col>
        </div>
    </div>
    <!-- </ion-card> -->
</ion-content>