ion-toolbar {
    --ion-background-color: #000000;
}

ion-title {
    color: aliceblue;
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}

// page-home {
//     button {
//         align-items: baseline;
//     }
// }