ion-icon {
    font-size: 100px;
    size: large;
    color: #ffc409;
}

ion-label {
    color: #ffc409;
}

ion-toolbar {
    background-color: #000000;
}

ion-content {
    --ion-background-color: #383838;
}

ion-avatar {
    width: 90px;
    height: 90px;
    margin: auto;
}

.person-circle {
    font-size: 100;
}

// .avatar {
//     margin: auto;
// }
// .image-center {
//     margin: auto;
// }