<ion-header>
    <ion-toolbar>
        <ion-title color="light">Notifications</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>

        <ion-icon name="fast-food-outline"></ion-icon>
        &nbsp;&nbsp;&nbsp;
        <ion-label>
            <p>Your events</p>
            <h2>ร้านลุงตัน</h2>
            <p>10/12/2020 12:30</p>
            <p>หาเพื่อนกินข้าว ใครว่างมาเลยครับ</p>
        </ion-label>

        <div>
            <ion-badge id="notifications-badge" color="danger">1</ion-badge>
        </div>

    </ion-item>

    <ion-item>
        <ion-avatar>
            <ion-img src="assets/images/iron.jpg"></ion-img>
        </ion-avatar>
        &nbsp;&nbsp;&nbsp;
        <ion-label>
            <h2>Ironman</h2>
            <p>confirmed your request.</p>
        </ion-label>
        <div>
            <p>14:00 น.</p>
        </div>
    </ion-item>

    <ion-item>
        <ion-avatar>
            <ion-img src="assets/images/thanos.jfif"></ion-img>
        </ion-avatar>
        &nbsp;&nbsp;&nbsp;
        <ion-label>
            <h2>Thanos</h2>
            <p>confirmed your request.</p>
        </ion-label>
        <div>
            <p>11:00 น.</p>
        </div>
    </ion-item>


    <ion-tabs>
        <ion-tab-bar slot="bottom">
            <ion-tab-button>
                <ion-icon name="albums" color="primary"></ion-icon>
                All
            </ion-tab-button>

            <ion-tab-button href="notievents">
                <ion-icon name="enter"></ion-icon>
                Your events
            </ion-tab-button>

            <ion-tab-button href="notirequest">
                <ion-icon name="notifications"></ion-icon>
                Your requests
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>


</ion-content>