<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-buttons>
                <ion-back-button color="warning" defaultHref="/home"></ion-back-button>
            </ion-buttons>
            <ion-title color="warning">Notifications</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <!-- <ion-tabs disabled="pageFlow.disableOtherTabs">
        <ion-tab-bar slot="bottom">
            <ion-tab-button>
                <ion-icon name="albums" color="primary"></ion-icon>
                All
            </ion-tab-button>

            <ion-tab-button href="notievents">
                <ion-icon name="enter"></ion-icon>
                Your events
            </ion-tab-button>

            <ion-tab-button href="notirequest">
                <ion-icon name="notifications"></ion-icon>
                Your requests
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs> -->
    <!-- <ion-card>
        <ion-item color="warning">

            <ion-icon name="football-outline"></ion-icon>
            &nbsp;&nbsp;&nbsp;
            <ion-label>
                <h1>กำลังจะเริ่ม</h1>
                <h2>โดย : Akkaradet Puang </h2>
                <h2>ที่ หนองอิเจมส์</h2>
                <p>04/03/2021 06:30 ถึง 07:40</p>
                <p>ออกกำลังกายยามเช้า</p>
            </ion-label> -->

    <!-- <div>
                <ion-badge id="notifications-badge" color="danger">1</ion-badge>
            </div> -->
    <!-- 
        </ion-item>

    </ion-card> -->
    <!-- <ion-card>
        <ion-item color="danger">

            <ion-icon name="football-outline"></ion-icon>
            &nbsp;&nbsp;&nbsp;
            <ion-label>
                <h1>ยกเลิกกิจกรรม</h1>
                <h2>โดย : Akkaradet Puang </h2>
                <h2>ที่ หนองอิเจมส์</h2>
                <p>04/03/2021 06:30 ถึง 07:40</p>
                <p>ออกกำลังกายยามเช้า</p>
            </ion-label> -->

    <!-- <div>
                <ion-badge id="notifications-badge" color="danger">1</ion-badge>
            </div> -->

    <!-- </ion-item>
    </ion-card> -->
    <ion-card *ngFor="let noti of allNoti">
        <ion-button size="small">
            <ion-icon name="checkmark-outline"></ion-icon>mark read
        </ion-button>
        <ion-button color="danger" fill="clear" (click)="delete(noti._id)">
            <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-item>

            <ion-icon name="fast-food-outline"></ion-icon>
            &nbsp;&nbsp;&nbsp;
            <ion-label>
                <p>{{noti.postName}}</p>
                <h2>{{noti.place}}</h2>

                <p></p>
            </ion-label>

            <div *ngIf="noti.status == true">
                <ion-label>
                    <p>
                        <ion-icon name="checkmark-sharp" color="success" size="large"></ion-icon>{{noti.description}}
                    </p>
                    <p>by {{noti.ownerName}}</p>
                </ion-label>
            </div>
            <!-- <div>
                <p>
                    <ion-icon name="close-sharp"></ion-icon>วร้ายโดนปฏิเสธ
                </p>
            </div> -->
            <!-- <ion-badge id="notifications-badge" color="danger">1</ion-badge> -->

        </ion-item>
    </ion-card>
    <!-- <ion-card>

        <ion-item>
            <ion-avatar>
                <ion-img src="assets/images/iron.jpg"></ion-img>
            </ion-avatar>
            &nbsp;&nbsp;&nbsp;
            <ion-label>
                <h2>Ironman</h2>
                <p>confirmed your request.</p>
            </ion-label>
            <div>
                <p>14:00 น.</p>
            </div>
        </ion-item>
    </ion-card> -->

    <!-- <ion-card>

        <ion-item>
            <ion-avatar>
                <ion-img src="assets/images/thanos.jfif"></ion-img>
            </ion-avatar>
            &nbsp;&nbsp;&nbsp;
            <ion-label>
                <h2>Thanos</h2>
                <p>confirmed your request.</p>
            </ion-label>
            <div>
                <p>11:00 น.</p>
            </div>
        </ion-item>
    </ion-card> -->


</ion-content>