<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-button fill="clear" color="warning" href="login">
                <ion-icon color="warning" name="arrow-back"></ion-icon>

            </ion-button>
            <ion-title color="light">ลงทะเบียนนาจา</ion-title>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card>
        <form>
            <ion-grid>

                <ion-input type="file" class="inputfile inputfile-4" accept="image/*" class="upload"></ion-input>
                <label for="file">Choose a file</label>
                <!-- <center>
                    <ion-icon name="person-circle-outline" size="large"></ion-icon>
                    <p>เลือกรูปภาพ</p>
                </center> -->



                <ion-row>
                    <ion-item>
                        <ion-label position="floating">ชื่อ</ion-label>
                        <ion-input type="text" [(ngModel)]="person.name" name="name"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label position="floating">โทรศัพท์</ion-label>
                        <ion-input type="text" [(ngModel)]="person.tel" name="tel"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label position="floating">อีเมลล์</ion-label>
                        <ion-input type="text" [(ngModel)]="person.email" name="email"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label position="fixed">รหัสผ่าน</ion-label>
                        <ion-input type="password" [(ngModel)]="person.password" name="password"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label position="fixed">ยืนยันรหัสผ่าน</ion-label>
                        <ion-input type="password" name="cpassword"></ion-input>
                    </ion-item>
                </ion-row>



                <ion-row>
                    <ion-item>
                        <ion-label position="floating">อายุ</ion-label>
                        <ion-input type="number" [(ngModel)]="person.age" name="age"></ion-input>
                    </ion-item>
                </ion-row>


                <ion-item>
                    <ion-label>เพศ</ion-label>
                    <ion-select placeholder="เลือกเพศ" [(ngModel)]="person.sex" name="sex">
                        <ion-select-option value="ชาย">ชาย</ion-select-option>
                        <ion-select-option value="หญิง">หญิง</ion-select-option>
                    </ion-select>
                </ion-item>



                <ion-item>
                    <ion-label>Lifestyle</ion-label>
                    <ion-select placeholder="เลือก" multiple="true" color="success" [(ngModel)]="person.lifestyle" name="lifestyle">
                        <ion-select-option value="อาหาร">อาหาร</ion-select-option>
                        <ion-select-option value="กีฬา">กีฬา</ion-select-option>
                        <ion-select-option value="บันเทิง">บันเทิง</ion-select-option>
                        <ion-select-option value="การศึกษา">การศึกษา</ion-select-option>
                        <ion-select-option value="กิจกรรม">กิจกรรม</ion-select-option>
                        <ion-select-option value="อื่นๆ">อื่นๆ</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>การศึกษา</ion-label>
                    <ion-select placeholder="เลือก" [(ngModel)]="person.educational" name="educational">
                        <ion-select-option value="ปริญญาตรี">ปริญญาตรี</ion-select-option>
                        <ion-select-option value="ปริญญาโท">ปริญญาโท</ion-select-option>
                        <ion-select-option value="ปริญญาเอก">ปริญญาเอก</ion-select-option>

                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>คณะ</ion-label>
                    <ion-select placeholder="เลือก" [(ngModel)]="person.faculty" name="faculty">
                        <ion-select-option value="วิทยาศาสตร์">วิทยาศาสตร์</ion-select-option>
                        <ion-select-option value="บริหาร">บริหาร</ion-select-option>
                        <ion-select-option value="รัฐศาสตร์">รัฐศาสตร์</ion-select-option>
                        <ion-select-option value="นิติศาสตร์">นิติศาสตร์</ion-select-option>
                        <ion-select-option value="เกษตรศาสตร์">เกษตรศาสตร์</ion-select-option>
                        <ion-select-option value="วิศวกรรมศาสตร์">วิศวกรรมศาสตร์</ion-select-option>
                        <ion-select-option value="แพทยศาสตร์">แพทยศาสตร์</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>ชั้นปี</ion-label>
                    <ion-select placeholder="เลือก" [(ngModel)]="person.year" name="year">
                        <ion-select-option value="1">1</ion-select-option>
                        <ion-select-option value="2">2</ion-select-option>
                        <ion-select-option value="3">3</ion-select-option>
                        <ion-select-option value="4">4</ion-select-option>
                        <ion-select-option value="5">5</ion-select-option>
                        <ion-select-option value="6">6</ion-select-option>
                        <ion-select-option value="7">7</ion-select-option>
                        <ion-select-option value="8">8</ion-select-option>
                        <ion-select-option value="end">จบการศึกษา</ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-row>
                    <ion-item>
                        <ion-label position="floating">Facebook</ion-label>
                        <ion-input type="text" [(ngModel)]="person.facebook" name="facebook"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label position="floating">Instagram</ion-label>
                        <ion-input type="text" [(ngModel)]="person.instagram" name="instagram"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label position="floating">อื่นๆ</ion-label>
                        <ion-input type="text" [(ngModel)]="person.other" name="other"></ion-input>
                    </ion-item>
                </ion-row>


                <ion-button fill="solid" expand="block" color="dark" type="submit" (click)="register()">Signup</ion-button>


            </ion-grid>
        </form>
    </ion-card>
</ion-content>