<ion-header>
    <ion-toolbar>
        <ion-title color="light">ลงทะเบียน</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-card>
        <form (ngSubmit)="register()">
            <ion-grid>

                <ion-input type="file" class="inputfile inputfile-4" accept="image/*" class="upload"></ion-input>
                <label for="file">Choose a file</label>
                <!-- <center>
                    <ion-icon name="person-circle-outline" size="large"></ion-icon>
                    <p>เลือกรูปภาพ</p>
                </center> -->



                <ion-row>
                    <ion-item>
                        <ion-label position="floating">ชื่อ</ion-label>
                        <ion-input type="text" [(ngModel)]="person.name" name="name"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label position="floating">โทรศัพท์</ion-label>
                        <ion-input type="text" [(ngModel)]="person.tel" name="tel"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label position="floating">อีเมลล์</ion-label>
                        <ion-input type="text" [(ngModel)]="person.email" name="email"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label position="fixed">รหัสผ่าน</ion-label>
                        <ion-input type="password" [(ngModel)]="person.password" name="password"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label position="fixed">ยืนยันรหัสผ่าน</ion-label>
                        <ion-input type="password" [(ngModel)]="person.cpassword" name="cpassword"></ion-input>
                    </ion-item>
                </ion-row>



                <ion-row>
                    <ion-item>
                        <ion-label position="floating">อายุ</ion-label>
                        <ion-input type="text" [(ngModel)]="person.age" name="age"></ion-input>
                    </ion-item>
                </ion-row>


                <ion-item>
                    <ion-label>เพศ</ion-label>
                    <ion-select placeholder="เลือกเพศ" [(ngModel)]="person.sex" name="sex">
                        <ion-select-option value="m">ชาย</ion-select-option>
                        <ion-select-option value="f">หญิง</ion-select-option>
                    </ion-select>
                </ion-item>



                <ion-item>
                    <ion-label>Lifestyle</ion-label>
                    <ion-select placeholder="เลือก" multiple="true" color="success" [(ngModel)]="person.lifestyle" name="lifestyle">
                        <ion-select-option value="food">อาหาร</ion-select-option>
                        <ion-select-option value="sport">กีฬา</ion-select-option>
                        <ion-select-option value="media">บันเทิง</ion-select-option>
                        <ion-select-option value="edu">การศึกษา</ion-select-option>
                        <ion-select-option value="valun">กิจกรรม</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>การศึกษา</ion-label>
                    <ion-select placeholder="เลือก" [(ngModel)]="person.educational" name="educational">
                        <ion-select-option value="e">กำลังศึกษา</ion-select-option>
                        <ion-select-option value="f">จบการศึกษา</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>คณะ</ion-label>
                    <ion-select placeholder="เลือก" [(ngModel)]="person.faculty" name="faculty">
                        <ion-select-option value="e">วิทยาศาสตร์</ion-select-option>
                        <ion-select-option value="f">บริหาร</ion-select-option>
                        <ion-select-option value="f">รัฐศาสตร์</ion-select-option>
                        <ion-select-option value="f">นิติศาสตร์</ion-select-option>
                        <ion-select-option value="f">เกษตรศาสตร์</ion-select-option>
                        <ion-select-option value="f">วิศวกรรมศาสตร์</ion-select-option>
                        <ion-select-option value="f">แพทยศาสตร์</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label>ชั้นปี</ion-label>
                    <ion-select placeholder="เลือก" [(ngModel)]="person.year" name="year">
                        <ion-select-option value="1">1</ion-select-option>
                        <ion-select-option value="2">2</ion-select-option>
                        <ion-select-option value="3">3</ion-select-option>
                        <ion-select-option value="4">4</ion-select-option>
                        <ion-select-option value="5">5</ion-select-option>
                        <ion-select-option value="6">6</ion-select-option>
                        <ion-select-option value="7">7</ion-select-option>
                        <ion-select-option value="8">8</ion-select-option>
                        <ion-select-option value="end">จบการศึกษา</ion-select-option>
                    </ion-select>
                </ion-item>


                <ion-row>
                    <ion-item>
                        <ion-label position="floating">Facebook</ion-label>
                        <ion-input type="text" [(ngModel)]="person.facebook" name="facebook"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label position="floating">Instagram</ion-label>
                        <ion-input type="text" [(ngModel)]="person.instagram" name="instagram"></ion-input>
                    </ion-item>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label position="floating">อื่นๆ</ion-label>
                        <ion-input type="text" [(ngModel)]="person.other" name="other"></ion-input>
                    </ion-item>
                </ion-row>


                <ion-button fill="solid" expand="block" color="dark" type="submit" (click)="logData()">Signup</ion-button>


            </ion-grid>
        </form>
    </ion-card>
</ion-content>